:root{
    --cor-balao: white;
    --sombra-texto: 5px 5px 6px rgba(0, 0, 0, .35);
    --sombra-box: 50px 50px 50px rgba(0, 0, 0, .5), inset 2px 2px 75px 25px rgba(0, 0, 0, .05);
    --ff-titulo: 'Montserrat', sans-serif;
    --ff-texto: 'Montserrat Alternates', sans-serif;
}

[data-estilos="est1"] {
    --cor-10-1: #D6AA6F;
    --cor-30: black;
    --bg-image: url(../assets/Gif-Animated-Wallpaper-Background-Full-HD-Free-Download-for-PC-Macbook-261121-Wallpaperxyz.com-26.gif);
}

[data-estilos="est2"] {
    --cor-10-1: #309E74;
    --cor-30: white;
    --bg-image: url(../assets/Gif-Animated-Wallpaper-Background-Full-HD-Free-Download-for-PC-Macbook-261121-Wallpaperxyz.com-13.gif);
}

[data-estilos="est3"] {
    --cor-10-1: #F1363B;
    --cor-30: white;
    --bg-image: url(../assets/Gif-Animated-Wallpaper-Background-Full-HD-Free-Download-for-PC-Macbook-261121-Wallpaperxyz.com-47.gif);
}

[data-estilos="est4"] {
    --cor-10-1: #B96A82;
    --cor-30: black;
    --bg-image: url(../assets/Gif-Animated-Wallpaper-Background-Full-HD-Free-Download-for-PC-Macbook-261121-Wallpaperxyz.com-43.gif);
}

body {
    height: 100vh;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Cabeçalho */

.cabecalho {
    display: flex;
    justify-content: center;
    padding: 1.75rem 0 2rem 0;
}

.title {
    display: none;
}

.titulo {
    font-family: var(--ff-titulo);
    font-weight: bold;
    font-size: 6rem;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.ene {
    color: var(--cor-10-1);
    z-index: 1;
    opacity: .95;
    text-shadow: var(--sombra-texto);
    cursor: default;
}

.metax {
    color: var(--cor-30);
    opacity: .85;
    margin-top: -2.56rem;
    text-shadow: var(--sombra-texto);
    cursor: default;
}

/* Corpo */

.corpo{
 padding: 0 9.5rem;
 display: flex;
 justify-content: space-between;
 box-sizing:content-box;
 height: calc(100vh - 14.5rem);
 align-items: center;
 gap: 6rem;
}

/* Checklist */

.checklist {
    width: 36vw;
    height: 25rem;
    display: flex;
    flex-direction: column;
   gap: 1.2rem;
}

.estilos{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    border: 3px solid white;
    border-radius: 32px;
    box-shadow: var(--sombra-box);
    background-color: rgba(255, 255, 255, 0.65);
}

.estilos_titulo{
    color: var(--cor-10-1);
    font-family: var(--ff-texto);
    font-size: 2rem;
    text-shadow: var(--sombra-texto);
    font-weight: 500;
    cursor: default;
}

.estilos_opcoes{
    display: flex;
    gap: 2rem;
}

.estilos_opcao {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: var(--sombra-texto);
    cursor: pointer;
}

.estilos_opcao:hover {
    border: 1px dashed rgb(209, 209, 209, .5);
    box-sizing: border-box;
}

.estilos_ativo {
    border: 1px solid white;
    box-sizing: border-box;
}

.estilos_opcao:nth-child(1){
    background-image: linear-gradient(135deg, #e0bd5c, #d1bcbc);
}

.estilos_opcao:nth-child(2){
    background-image: linear-gradient(135deg, #309E74, #202753);
}

.estilos_opcao:nth-child(3){
    background-image: linear-gradient(135deg, #F1363B, #36366B);
}

.estilos_opcao:nth-child(4){
    background-image: linear-gradient(135deg, #B96A82, #F2FFFF);
}

.checklist-itens {
    font-family: var(--ff-texto);
    background-color: var(--cor-balao);
    height: 21rem;
    padding: 2rem 2.5rem;
    box-sizing: border-box;
    border-radius: 2.2rem 2.2rem 2.2rem 0;
    box-shadow: var(--sombra-box);

}

.checklist-scroll{
    height: 14rem;
    overflow-y:auto;
}

::-webkit-scrollbar {
    display: none;
}

.chelist-itens_titulo {
    font-weight: 600;
    font-size: 1.4rem;
    cursor: default;
}


/* Chekclist - Itens */

/* Adicionados */

.checklist-demandas_inserida {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkboxTexto {
    display: flex;
    align-items: center;
    gap: .5rem;
    box-sizing: content-box;
}

.checklist-demandas_inseridabox {
    height: 1.6rem;
    fill: black;
}

.checklist-demandas-ativo {
    fill: var(--cor-10-1) !important;
}

.checklist-demandas_inseridabox:hover {
fill: var(--cor-10-1);
cursor: pointer;
}

.checklist-demandas_inseridatexto {
    font-size: 1.3rem;
    font-family: var(--ff-texto);
    font-weight: 600;
    cursor: default;
}

.checklist-demandas_inseridadeleta {
    height: 2rem;
    cursor: pointer;
}

.checklist-demandas_inseridadeleta:hover {
    fill: var(--cor-10-1);
}

/* Modelo */

.checklist-demandas_modelo {
    margin: .35rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checklist-demandas_descricao {
    display: flex;
    align-items:start;
    gap: .4rem;
    font-weight: 500;
}

.checklist-demandas_box {
    height: 1.6rem;
    fill: black;
}

.checklist-demandas_box:hover {
    fill: var(--cor-10-1);
    cursor: pointer;
}

.checklist-demandas_texto  {
    border: none;
    font-size: 1.3rem;
    font-family: var(--ff-texto);
    font-weight: 600;
    cursor:default;
}

.checklist-demandas_texto-ativo {
    color: var(--cor-10-1);
    text-decoration: line-through;
}

::-webkit-input-placeholder{
    color: rgba(128, 128, 128, 0.445);
}

.checklist-demandas_confirmadores {
    display: flex;
    gap: .5rem;
}

.checklist-demandas_confirmar, .checklist-demandas_fechar {
    height: 2rem;
    cursor: pointer;
}
.checklist-demandas_confirmar:hover, .checklist-demandas_fechar:hover {
    fill: var(--cor-10-1);
}

/**/

.hidden {
    display: none !important;
}

.checklist-add {
    display: flex;   
    align-items: center;
    gap: .5rem;
    cursor:pointer;
}

.checklist-add_icone {
    height: 1.7rem;
    font-weight: 700;
    fill: var(--cor-10-1);
}

.checklist-add_span {
    margin: 1rem 0 .5rem 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--cor-10-1);
    opacity: 50%;
    position: relative;
}

.checklist-add_span::after {
    content: "";
    width: 0%;
    height: 2.5px;
    background-color: var(--cor-10-1);
    position: absolute;
    top: 1.4rem;
    left: 0rem;
    transition: 0.5s ease-in-out;
}

.checklist-add_span:hover::after {
    width: 100%;
}

/*Controle geral*/

.controle {
    font-family: var(--ff-texto);
    font-size: 1.5rem;
    font-weight: 600;
    width: 36vw;
    height: 25rem;
    background-color: var(--cor-balao);
    padding: 3rem 3.5rem;
    box-sizing: border-box;
    border-radius: 2.2rem 0rem 2.2rem 2.2rem;
    box-shadow: var(--sombra-box);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Switch controle tempo*/

.controle-tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.switch {
    display: inline-block;
    width: 4.5rem;
    height: 1.5rem;
    position: relative;
    cursor: pointer;
  
}

.controle_bola {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
}

.controle_bola::before {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 4px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: var(--cor-10-1);
}

#controle_tempo:checked + .controle_bola {
    background-color: var(--cor-10-1);
}

#controle_tempo:checked + .controle_bola::before {
    transform: translateX(44px);
    background-color:var(--cor-30);
}

#controle_tempo {
    display: none;
}

/*tempo*/

.tempo {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    display: none;
    align-items: center;
}

.tempo_timer {
    font-family: var(--ff-texto);
    font-weight: 500;
    font-size: 6.5rem;
}

#btnStart {
    display: none;
}


.tempo_botao {
    padding: 0.5rem 1.5rem;
    font-family: var(--ff-texto);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--cor-30);
    background-color: var(--cor-10-1);
    border: none;
    border-radius: 1rem;
    align-self: center;
}

.tempo_botao:hover {
    box-shadow: inset 2px 2px 75px 25px rgba(0, 0, 0, .05);
    transition: .1s all ease;
}

.tempo_botao:active {
    color: white;
    background-color: black;
    transition: .1s all ease;
}

/*troca de paginas*/



/* Inputs de controles*/

.controle_inputs {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

/* Inputs de timer*/

.input_timer {
    display: flex;
    flex-direction: column;
    gap: .7rem;

}

.input_timerbox {
    width: 13rem;
    height: 2.2rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}

.timer_dica, .descanso_dica {
    font-size: .6rem;
    text-align: end;
    cursor:none;
}

hr {
    width: .06rem;
    height: 1.5rem;
    margin: 0;
    pad: 0;
    background-color: black;
    color: black;
    border: none;
}

#timer {
    display: flex;
    align-items: center;
}

#tminutos, #dminutos{
    width: 2.5rem;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 600;
    border: none; 
}

#tsegundos, #dsegundos{
    width: 1.7rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timer_opcoes {
    display: flex;
    justify-content: space-between;
}

.timer_botao {
    font-family: var(--ff-texto);
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1.3rem;
    align-items: center;
    padding: 0 .7rem;
    cursor: pointer;
}

.timer_botao:hover {
    background-color: var(--cor-10-1);
}

.timer_botao:active {
    box-shadow: inset 2px 2px 75px 25px rgba(0, 0, 0, .05);;
    transition: .1s all ease;;
}

/* Inputs de descanso*/

.input_descanso {
    display: flex;
    flex-direction: column;
    gap: .7rem;

}

.input_descansobox {
    width: 13rem;
    height: 2.2rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}

.descanso_dica {
    font-size: .6rem;
    text-align: end;
}

#descanso {
    display: flex;
    align-items: center;
}

.descanso_opcoes {
    display: flex;
    justify-content: space-between;
}

.descanso_botao {
    font-family: var(--ff-texto);
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1.3rem;
    align-items: center;
    padding: 0 .7rem;
    cursor: pointer;
}

.descanso_botao:hover {
    background-color: var(--cor-10-1);
}

.descanso_botao:active {
    box-shadow: inset 2px 2px 75px 25px rgba(0, 0, 0, .05);;
    transition: .1s all ease;;
}


/*Música player*/
.controle_musica {
align-self: center;
}

.musica_switch {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    cursor: pointer;
}

.musica_titulo {
    font-size: 1.5rem;

}

.material-icons {
font-size: 3rem !important;
color: var(--cor-10-1);
}

#playMusic, audio {
    display: none;
}

/* Responsividade simplificada */

@media(max-width: 1025px) {
        .corpo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-evenly;
    }

    .checklist {
        width: 55vw;
        padding: 1rem;
    }

    .checklist-demandas_modelo {
        flex-wrap: wrap;
    }

    .checklist-demandas_texto {
        width: 13.5rem;
    }

    .checkDemanda {
        display: flex;
        flex-wrap: wrap;
    }

    .controle {
        width: 55vw;
        padding: 2rem;
        height: 25rem;
    }
}

@media(max-width: 750px) {
    body {
        height: 130vh;
    }

    .cabecalho {
        margin-bottom: 3rem;
    }
    h2 {
        font-size: 5rem;
        margin: .45rem 0;
    }
    

    
    .corpo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    .estilos_opcoes {
        gap: 0.75rem;
    }

    .checklist {
        width: 80vw;
        padding: 1rem;
    }

    .controle {
        width: 80vw;
        padding: 2rem;
        height: 25rem;
    }

    .timer_titulo {
        margin-top: 1rem;
        text-align: center;
    }

    .descanso_titulo {
        text-align: center;
    }

    .timer_opcoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    .tempo_timer {
        font-size: 5rem;
        margin-top: 4rem;
    }

    .timer_botao, .descanso_botao {
        padding: .25rem 2.8rem;
    }
    
    .descanso_opcoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    #controle_tempo:checked + .controle_bola::before {
        display: none;
    }

    .musica_switch {
        margin-top: 1rem;
    }
}


@media(max-width: 400px) {
    body {
        height: 140vh;
    }

    h2 {
        font-size: 5rem;

    }

    .cabecalho {
        margin-bottom: 9rem;
        }
    
    
    .corpo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    .estilos {
        gap: 1rem;
    }

    .estilos_opcoes {
        gap: 0.75rem;
    }

    .checklist {
        width: 80vw;
        padding: 1rem;
    }

    .controle {
        width: 80vw;
        padding: 1.2rem;
        height: 25rem;
    }

    .timer_titulo {
        margin-top: 1rem;
    }

    .timer_opcoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    .tempo_timer {
        font-size: 4rem;
        margin-top: 3rem;
    }
    
    .timer_botao, .descanso_botao {
        padding: .25rem 2.8rem;
    }

    .descanso_opcoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    .controle_bola::before {
        display: none;
    }

    #controle_tempo:checked + .controle_bola::before {
        display: none;
    }

    .musica_switch {
        margin-top: 1rem;
    }
}

